
body {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #D1A8FA;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 20px 80px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header section {
    justify-content: space-between;
    align-items: center;
}

header div nav {
    list-style: none;
    color: #fff;
    gap: 12px;
    font-size: 16px;
    font-weight: 700;

}

header section .nav {
    gap: 25px;
}

header section .buttons {
    gap: 15px;
}

header section div .button-login a {
    text-decoration: none;
    color: #575757;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 10px;
    background-color: #FFE562;
    border-radius: 10px;
}

header section div .button-login a:hover {
    background-color: #ffd900;
}


header section div .button-cad a {
    text-decoration: none;
    color: #575757;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

header section div .button-cad a:hover {
    background-color: #F7E5FF;
}

header nav li:hover {
   color: #FFE562;
   cursor: pointer;
}

main .foto figure img {
    width: 1890px;
}

main {
    flex-direction: column;
}

main .foto figure {
    position: absolute;
    display: flex;

}

main .foto .descricao {
    position: relative;
}