@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.flex {
    display: flex;
}

.container{ 
    width: 1200px;
}

body {
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #D1A8FA;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 20px 80px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header section {
    justify-content: space-between;
    align-items: center;
}

header div nav {
    list-style: none;
    color: #fff;
    gap: 12px;
    font-size: 14px;
    font-weight: 700;

}

header section .nav {
    gap: 25px;
}

header section .buttons {
    gap: 15px;
}

header section div .button-login a {
    text-decoration: none;
    color: #575757;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 10px;
    background-color: #FFE562;
    border-radius: 10px;
}

header section div .button-cad a {
    text-decoration: none;
    color: #575757;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 10px;
    background-color: #F7E5FF;
    border-radius: 10px;
}


header nav li:hover {
   border-bottom: 3px solid #FFE562;
   padding-bottom: 5px;
   cursor: pointer;
}

figure {
    margin: 0;
}

figure img {
    width: 1890px;

}