@import url('https://fonts.googleapis.com/css2?family=Borel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
    font-family: "Nunito", sans-serif;
}

.flex {
    display: flex;
}

.container{ 
    max-width: 1400px;
    width: 100%;
}

.centralizar {
    justify-content: center;
    align-items: center;
}

.coluna {
    flex-direction: column;
}

figure {
    margin: 0;
}

.gap {
    gap: 30px;
}
.gap-2 {
    gap: 15px;
}
.gap-3 {
    gap: 10px;
}

.end {
    align-items: end;
}

.extremidades {
    justify-content: space-around;
}

.direita {
    align-self: end;
}

.extremidades-2 {
    justify-content: space-between;
}

.center {
    align-self: center;
}